body{
    background-color: #262626;
}
#webNav{
    background-color: #171717;
}
#webNavDiv{
    max-width: 900px;
}
a.link{
    font-weight: 500px;
    font-size: 3e;
    color: #880808
}
a.link:hover{
    font-weight: 800px;
    font-size: 4e;
    color: #b61212
}
#chat{
    border-radius: 5;
}
@media (min-width: 900px){
    #chat{
        width:30vw;
    }
    #visual{
        width:35vw;
    }
    #workout{
        width:30vw;
    }
    div.subcontainer{
        border-width:10px;
        width: 100px;
    }
}
@media (min-width: 12012px){
    #chat{
        width:30vw;
    }
    #visual{
        width:35vw;
    }
    #workout{
        width:30vw;
    }
    #chatinput{
        width: 220px;
        max-width: 200px;
    }
    #chatsubmit{
        width: 60px;
    }
}