body {
    background-color: #262626;
    font-size: 16px; /* Set a base font size */
}

#webNav {
    background-color: #171717;
    max-width: 100%; /* Full width for navigation bar */
}

a.link {
    font-weight: 500;
    font-size: 1.5rem;
    color: #880808;
}

a.link:hover {
    font-weight: 800;
    font-size: 2rem;
    color: #b61212;
}

#chat {
    border-radius: 5px;
    width: 100%; /* Full width for chat container */
}

@media (min-width: 900px) {
    #chat, .subcontainer {
        width: 30%;
    }
}

@media (min-width: 1200px) {
    #chatinput {
        width: 70%; /* Adjust as needed */
        max-width: 100%; /* Max width relative to parent container */
    }

    #chatsubmit {
        width: 30%; /* Adjust as needed */
    }
}

#chatoutput {
    background-color: antiquewhite;
    height: 200px;

}