<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyDelta</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/style/signin.css">
    <script type="module" src="/static/main.js"></script>
</head>

<body>
    <!-- Container which contains sign in form -->
    <div class="container" id = "signincontainer">
        <div class="form">
            <h1 id = "signinheader">DeltaMe Sign In</h1>
            <form>
                <div class="input-container">
                    <input type="text" id="username" placeholder="Username" required>
                </div>
                <div class="input-container">
                    <input type="password" id="password" placeholder="Password" required>
                </div>
                <button type="submit">Sign In</button>
            </form>
            <p class="alternative">Don't have an account? <a href="#">Sign Up</a></p>
        </div>
    </div>
</body>

</html>