<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyDelta</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <script type="module" src="/static/main.js"></script>
</head>

<body>
    <h1>MyDelta Sign In</h1>
    <form id = "signin">
        <label for="Name">Name:</label>
        <input type="text" id="Name" name="Name" placeholder="Username" required minlength="3" maxlength="20">
        <br><br>
        <label for="Password">Password:</label>
        <input type="password" id="Password" name="Password" placeholder="Password" required minlength="3" maxlength="20">
        <button id = "signinbutton">Sign In</button>
    </form>
</body>

</html>